.search-history-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-width: 200px;
  height: 60px;
  background: rgba(26, 26, 26, 0.5);
  border-radius: 16px;
  padding: 21px;
}
.country-timestamp-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding-right: 10px;
}
.country-name {
  font-size: 16px;
}
.date-action-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.date {
  opacity: 50%;
  font-size: 14px;
}
.icon {
  width: 23px;
  height: 23px;
  display: inline-block;
  background-color: transparent;
  border: 1px solid black;
  padding: 4px;
  margin: 0;
  cursor: pointer;
  filter: invert(1);
  border-radius: 50%;
  opacity: 0.5;
}

.icon:hover {
  opacity: 0.8;
}

.icon {
  transition: opacity 0.3s ease-in-out;
}

@media screen and (max-width: 600px) {
  .search-history-item {
    height: 100px;
    width: 100%;
    justify-content: space-between;
  }
  .country-timestamp-container {
    flex-direction: column;
    align-items: baseline;
  }
  .country-name {
    padding-right: 10px;
  }

  .date-action-container {
  }
}
